/ryegen_modcache.gob
/ryegen_modcache.json
/cpu.prof
/*.test.exe
/stdout.txt
/testdata/*.out_*.go
/testdata/*.log
/examples/*/_ryegen_src
/examples/*/ryegen_*
/examples/*/*.log
/examples/*/cpu.prof
test_results.txt

_ryegen
